<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="fragments::head(title=${genre})"></head>
<body>
<nav th:replace="fragments::menuGenre"></nav>
<th:block th:if="${genre}" th:object="${genre}">
    <h1>Genres</h1>
    <ul>
        <li th:each="genre : ${genres}" th:object="${genre}">
            <a th:text="*{naam}" th:href="@{/genres/{id}(id=*{id})}"></a>
        </li>
    </ul>
    <h2 th:text="*{naam}"></h2>
    <li th:each="film : ${films}" th:object="${film}">
        <a th:href="@{/films/{id}(id=*{id})}">
            <img th:src="@{/images/{id}.jpg(id=*{id})}" th:alt="*{titel}">
        </a>
    </li>


</th:block>
</body>
</html>