<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="fragments::head(title=${klant})"></head>
<body>
<nav th:replace="fragments::menu"></nav>
    <h1 th:text="Klanten"></h1>



<form th:object="${zoekKlantForm}"
      method="get" th:action="@{/klant/}">
    <label>Familienaam bevat:</label>
    <input th:field="*{naam}" autofocus required>
    <button>Zoeken</button>
</form>
<th:block th:if="not ${klanten.isEmpty()}">
    <table id="klantentabel">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Straat - Huisnummer</th>
            <th>Postcode</th>
            <th>Gemeente</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="klant : ${klanten}" th:object="${klant}">
            <td><a th:text="*{familienaam}+' '+*{voornaam}" th:href="@{/klant/bevestig/{id}(id=*{id})}"></a></td>

            <td th:text="*{straatNummer}"></td>
            <td th:text="*{postcode}"></td>
            <td th:text="*{gemeente}"></td>
        </tr>
        </tbody>
    </table>

</th:block>
</body>
</html>